Flask>=2.0
flask-cors
numpy
scipy
pandas
matplotlib
seaborn
librosa
pillow
pytesseract
scikit-learn
python-dotenv
soundfile
tqdm
torch
torchvision
sentence-transformers
transformers
ftfy
albumentations
opencv-python
python-multipart
flask-limiter
gunicorn
datasets
requests
